n8n-workflows/google-maps-email-scraper.json
{
  "name": "Scrape business emails from Google Maps without the use of any third party APIs 2",
  "nodes": [
    {
      "parameters": {},
      "id": "79df5316-c210-478d-a4de-35b5d31924ee",
      "name": "Remove Duplicate URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [1872, 992],
      "typeVersion": 1.1
    },
    {
      "parameters": { "options": {} },
      "id": "985ac7e3-b501-4079-a043-780677c94b52",
      "name": "Loop over queries",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [1568, 512],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.query }}",
        "options": { "allowUnauthorizedCerts": false }
      },
      "id": "3a478935-781b-4fb1-bdc7-fcf8be1334bc",
      "name": "Search Google Maps with query",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1280, 992],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"
      },
      "id": "477e7d55-b7d6-4b20-ac44-dd1f443e270a",
      "name": "Scrape URLs from results",
      "type": "n8n-nodes-base.code",
      "position": [1472, 992],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": { "type": "string", "operation": "notRegex" },
              "leftValue": "={{ $json.url }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"
            },
            {
              "id": "eb499a7e-17bc-453c-be08-a47286f726dd",
              "operator": { "name": "filter.operator.equals", "type": "string", "operation": "equals" },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a5b67e45-a3f6-41d2-aa58-c26a441c41b2",
      "name": "Filter irrelevant URLs",
      "type": "n8n-nodes-base.filter",
      "position": [1680, 992],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "40ec6d1f-1c98-4c9f-8499-c5893c3df7b9",
      "name": "Request web page for URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2272, 1072],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "options": { "reset": false } },
      "id": "12f662a8-c55f-409a-b381-f37ab6dd3794",
      "name": "Loop over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [2080, 992],
      "typeVersion": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "id": "e6957d05-3533-48ae-9cc1-ee4ac026a2a6",
      "name": "Loop over pages",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [2288, 720],
      "typeVersion": 3,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"
      },
      "id": "018621c0-0ea9-4865-b110-b6d0727f0588",
      "name": "Scrape emails from page",
      "type": "n8n-nodes-base.code",
      "position": [2448, 832],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [{ "fieldToAggregate": "emails" }]
        },
        "options": { "mergeLists": true }
      },
      "id": "5509b8e2-a6fc-4fbe-bbc5-1bc1d5de1c98",
      "name": "Aggregate arrays of emails",
      "type": "n8n-nodes-base.aggregate",
      "position": [2608, 704],
      "typeVersion": 1
    },
    {
      "parameters": { "fieldToSplitOut": "emails", "options": {} },
      "id": "f1f01f03-b62e-453f-b938-ffe4f9b3f4de",
      "name": "Split out into default data structure",
      "type": "n8n-nodes-base.splitOut",
      "position": [2832, 704],
      "typeVersion": 1
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "emails",
        "options": {}
      },
      "id": "ec27d665-d9c1-4f10-9c52-0d5ea89cbf77",
      "name": "Remove duplicate emails",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [3056, 704],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": { "type": "string", "operation": "notRegex" },
              "leftValue": "={{ $json.emails }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"
            }
          ]
        },
        "options": {}
      },
      "id": "4a071bf0-23ad-455b-b231-bafd3b32e4f8",
      "name": "Filter irrelevant emails",
      "type": "n8n-nodes-base.filter",
      "position": [3248, 704],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "" }
      },
      "id": "59675faa-2b0d-4ba5-82c7-dc5dedcad31e",
      "name": "Save emails to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [3456, 704],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "HncC0A3Ykt90dJNd", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {},
      "id": "93437e8b-4f8d-40a1-9585-cab1b556164a",
      "name": "Starts scraper workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [1056, 992],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "eed77477-777d-450d-a975-4d2848b1cf55",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [1328, 512],
      "typeVersion": 1
    },
    {
      "parameters": { "amount": 2 },
      "id": "dffaf04e-d1d2-4002-9a69-f0904b61fc2d",
      "name": "Wait between executions",
      "type": "n8n-nodes-base.wait",
      "position": [1952, 608],
      "webhookId": "40eb11a9-0f7d-4932-993e-0052b69dbf9b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "={{ $workflow.id }}" },
        "mode": "each",
        "options": { "waitForSubWorkflow": false }
      },
      "id": "18787007-1d11-41b9-89c3-d5f69756eda7",
      "name": "Execute scraper for query",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1776, 608],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Run workflow": { "main": [[{ "node": "Loop over queries", "type": "main", "index": 0 }]] },
    "Loop over URLs": { "main": [[{ "node": "Loop over pages", "type": "main", "index": 0 }], [{ "node": "Request web page for URL", "type": "main", "index": 0 }]] },
    "Loop over pages": { "main": [[{ "node": "Aggregate arrays of emails", "type": "main", "index": 0 }], [{ "node": "Scrape emails from page", "type": "main", "index": 0 }]] },
    "Loop over queries": { "main": [[], [{ "node": "Execute scraper for query", "type": "main", "index": 0 }]] },
    "Remove Duplicate URLs": { "main": [[{ "node": "Loop over URLs", "type": "main", "index": 0 }]] },
    "Filter irrelevant URLs": { "main": [[{ "node": "Remove Duplicate URLs", "type": "main", "index": 0 }]] },
    "Remove duplicate emails": { "main": [[{ "node": "Filter irrelevant emails", "type": "main", "index": 0 }]] },
    "Scrape emails from page": { "main": [[{ "node": "Loop over pages", "type": "main", "index": 0 }]] },
    "Starts scraper workflow": { "main": [[{ "node": "Search Google Maps with query", "type": "main", "index": 0 }]] },
    "Wait between executions": { "main": [[{ "node": "Loop over queries", "type": "main", "index": 0 }]] },
    "Filter irrelevant emails": { "main": [[{ "node": "Save emails to Google Sheet", "type": "main", "index": 0 }]] },
    "Request web page for URL": { "main": [[{ "node": "Loop over URLs", "type": "main", "index": 0 }]] },
    "Scrape URLs from results": { "main": [[{ "node": "Filter irrelevant URLs", "type": "main", "index": 0 }]] },
    "Execute scraper for query": { "main": [[{ "node": "Wait between executions", "type": "main", "index": 0 }]] },
    "Aggregate arrays of emails": { "main": [[{ "node": "Split out into default data structure", "type": "main", "index": 0 }]] },
    "Search Google Maps with query": { "main": [[{ "node": "Scrape URLs from results", "type": "main", "index": 0 }]] },
    "Split out into default data structure": { "main": [[{ "node": "Remove duplicate emails", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d32dce15-148b-405f-a47e-7cee993d320a",
  "meta": {
    "templateId": "2567",
    "templateCredsSetupCompleted": true,
    "instanceId": "0bded5cc5a2b2ff3ea0c9c6ce6764b6b8fb57fad5f2b0306a6654038cf34e547"
  },
  "id": "4xv9sorBHgZy2D7t",
  "tags": []
}
